<!DOCTYPE html>
<html lang="cs">
{% include "include/html-head.njk" %}

<body id="project-page">
  {% include "include/header.njk" %}
  <div class="content">
    <aside id="sidebar">
      <nav aria-label="Přehled use casů">
        <ul id="usecase-list"></ul>
      </nav>
    </aside>
    <main id="main"></main>
  </div>

{% include "include/footer.njk" %}

  <div id="ai-tip-popup" class="popup" aria-hidden="true">
    <div class="popup-content">
      <button class="popup-close" aria-label="Close">&times;</button>
      <p>Máte tip na inspirativní projekt s AI ve veřejném sektoru?
        Přidejte svůj příspěvek <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSeMnjLBUkiFR6cAExs28azQ6emrvqm1ptWcizBmWRx2Om3ejQ/viewform?usp=dialog"
          target="_blank" rel="noopener">zde</a> a my jej rádi zařadíme do katalogu.
      </p>
    </div>
  </div>

  <div id="category-popup" class="category-popup" aria-hidden="true" role="dialog">
    <div class="popup-content">
      <button class="popup-close" aria-label="Zavřít">&times;</button>
      <h3></h3>
      <p></p>
    </div>
  </div>

  <script src="script.js"></script>
</body>

</html>